@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{background: #F7F4F4; font-family: 'Nunito';
    font-style: normal;}

.title{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    background: rgba(0,0,0,0);
    width: 800px;
    height: 50px;
    border-radius: 2px;
}

.title-name{
    display: flex;
    background: rgba(0,0,0,0);
    align-items: center;
    font-size: 40px;
    font-family: 'Nunito';
    font-style: normal;
}

.title-name::before{content: "ВИБЕРІТЬ ЗАВДАННЯ";}

.user{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background: rgba(0,0,0,0);
    width: 1000px;
    height: 100px;
    border-radius: 2px;
    transition: all .3s ease;
}

.img-f{
    background: url(../source/circle.png);
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
}

.img-s{
    background: url(../source/square.png);
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
}

.img-t{
    background: url(../source/rectangle.png);
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
}

.img-fo{
    background: url(../source/triangle.png);
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
}

.first-choose{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-f{
    width: 10px;
}

.text-f::before{content: "Коло";}

.second-choose{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.test-s{
    width: 10px;
}

.text-s::before{content: "Квадрат";}

.third-choose{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-t{
    width: 10px;
}

.text-t::before{content: "Прямокутник";}

.fourth-choose{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-fo{
    width: 10px;
}

.text-fo::before{content: "Трикутник";}

.first-choose, .second-choose, .third-choose, .fourth-choose{cursor: pointer; margin-top: 20px;}

.l-line{
    left: 0;
    height: 124%;
    width: 5px;
    background: #D16464;
    margin-right: 50px;
    visibility: visible;
    transition: all .3s ease;
}

.r-line{
    right: 0;
    height: 124%;
    width: 5px;
    background: #D16464;
    margin-left: 50px;
    visibility: visible;
    transition: all .3s ease;
}

.up-line{
    position: absolute;
    top: 90px;
    width: 900px;
    height: 4px;
    background: #D16464;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.down-line{
    position: absolute;
    top: 210px;
    width: 900px;
    height: 4px;
    background: #D16464;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.st-up-l-c{
    left: 270px;
    position: absolute;
    top: 90px;
    width: 80px;
    height: 4px;
    background: #D16464;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.end-down-l-c{
    position: absolute;
    top: 210px;
    left: 380px;
    width: 790px;
    height: 4px;
    opacity: 0;
    background: #D16464;
    visibility: hidden;
    border-radius: 4px;
    transition: all .3s ease;
}

.dev{
    display: flex;
    margin: 20px auto;
}

.circle-task{
    margin: 40px auto;
    width: 1200px;
    height: 1000px;
    position: absolute;
    background: rgba(0,0,0,0);
    transition: all .3s ease;
}

.circle-title{
    width: 714px;
    height: 327px;
    margin-top: 50px;
    margin-left: 80px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    background: rgba(0,0,0,0);

    color: #000000;
}

.circle-title::before{content: "програма на знаходження площі, діаметра, довжини дуги кола";}

.c-radius-name{
    position: absolute;
    top: 400px;
    left: 80px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.c-radius-name::before{content: "Радіус";}

.c-diametr-name{
    position: absolute;
    top: 480px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.c-diametr-name::before{content: "Діаметр";}

.c-dovzhina-name{
    position: absolute;
    top: 560px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.c-dovzhina-name::before{content: "Довжина";}

.c-radius-input{
    position: absolute;
    top: 430px;
    left: 250px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.c-radius-input-in{
    background: rgba(0,0,0,0);
    border: none;
    top: -20px;
    width: 100px;
    position: absolute;
    cursor: pointer;
    font-family: 'Nunito';
    font-style: normal;
}

input:focus{outline: none !important;}

.c-diametr-out{
    position: absolute;
    top: 510px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.c-dovzhina-out{
    position: absolute;
    top: 590px;
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.c-plos-name{
    position: absolute;
    top: 640px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.c-plos-name::before{content: "Площа";}

.c-radius-out{
    position: absolute;
    top: 670px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.button-s-c{
    position: absolute;
    width: 195px;
    height: 53px;
    left: 80px;
    top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #D16464;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.button-s-c-name{
    width: 121px;
    height: 25px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background: rgba(0,0,0,0);

    text-transform: uppercase;

    color: #FFFFFF;
}

.button-s-c-name::before{content: "обрахувати";}

.diametr-c-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
    background: rgba(0,0,0,0);
}

.dovzhina-c-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.plos-c-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.square-task{
    margin: 40px auto;
    width: 1200px;
    height: 1000px;
    position: absolute;
    background: rgba(0,0,0,0);
    transition: all .3s ease;
}

.square-title{
    width: 714px;
    height: 327px;
    margin-top: 50px;
    margin-left: 80px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    background: rgba(0,0,0,0);

    color: #000000;
}

.square-title::before{content: "програма на знаходження площі, периметра, діагоналі, радіусу вписаного и описаного кола";}

.sq-side-name{
    position: absolute;
    top: 400px;
    left: 80px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.sq-side-name::before{content: "Сторона квадрата";}

.sq-side-input{
    position: absolute;
    top: 430px;
    left: 450px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.sq-side-input-in{
    background: rgba(0,0,0,0);
    border: none;
    top: -20px;
    width: 100px;
    position: absolute;
    cursor: pointer;
    font-family: 'Nunito';
    font-style: normal;
}

.button-s-sq{
    position: absolute;
    width: 195px;
    height: 53px;
    left: 80px;
    top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #D16464;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.button-s-sq-name{
    width: 121px;
    height: 25px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background: rgba(0,0,0,0);

    text-transform: uppercase;

    color: #FFFFFF;
}

.button-s-sq-name::before{content: "обрахувати";}

.sq-plos-name{
    position: absolute;
    top: 480px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.sq-plos-name::before{content: "Площа";}

.sq-plos-out{
    position: absolute;
    top: 510px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.plos-sq-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.sq-diag-name{
    position: absolute;
    top: 560px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.sq-diag-name::before{content: "Діагональ";}

.sq-diag-out{
    position: absolute;
    top: 590px;
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.diag-sq-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.sq-radin-name{
    position: absolute;
    top: 640px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.sq-radin-name::before{content: "Вписане коло";}

.sq-radin-out{
    position: absolute;
    top: 670px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.radin-sq-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.sq-per-name{
    position: absolute;
    top: 720px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.sq-per-name::before{content: "Периметр";}

.sq-per-out{
    position: absolute;
    top: 750px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.per-sq-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.sq-radout-name{
    position: absolute;
    top: 795px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.sq-radout-name::before{content: "Описане коло";}

.sq-radout-out{
    position: absolute;
    top: 825px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.radout-sq-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.rectangle-task{
    margin: 40px auto;
    width: 1200px;
    height: 1000px;
    position: absolute;
    background: rgba(0,0,0,0);
    transition: all .3s ease;
}

.rectangle-title{
    width: 714px;
    height: 327px;
    margin-top: 50px;
    margin-left: 80px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    background: rgba(0,0,0,0);

    color: #000000;
}

.rectangle-title::before{content: "програма на знаходження площі, периметра, діагоналі, кута між а, в прямокутника";}

.rect-sidea-name{
    position: absolute;
    top: 400px;
    left: 80px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-sidea-name::before{content: "Сторона A";}

.rect-sidea-input{
    position: absolute;
    top: 430px;
    left: 450px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.rect-sideb-name{
    position: absolute;
    top: 460px;
    left: 80px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-sideb-name::before{content: "Сторона B";}

.rect-sideb-input{
    position: absolute;
    top: 490px;
    left: 450px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.rect-sidea-input-in, .rect-sideb-input-in{
    background: rgba(0,0,0,0);
    border: none;
    top: -20px;
    width: 100px;
    position: absolute;
    cursor: pointer;
    font-family: 'Nunito';
    font-style: normal;
}

.button-s-rect{
    position: absolute;
    width: 195px;
    height: 53px;
    left: 80px;
    top: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #D16464;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.button-s-rect-name{
    width: 121px;
    height: 25px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background: rgba(0,0,0,0);

    text-transform: uppercase;

    color: #FFFFFF;
}

.button-s-rect-name::before{content: "обрахувати";}

.rect-plos-name{
    position: absolute;
    top: 550px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-plos-name::before{content: "Площа";}

.rect-plos-out{
    position: absolute;
    top: 580px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.plos-rect-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-diag-name{
    position: absolute;
    top: 630px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-diag-name::before{content: "Діагональ";}

.rect-diag-out{
    position: absolute;
    top: 660px;
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.diag-rect-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-cuta-name{
    position: absolute;
    top: 710px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-cuta-name::before{content: "Кут між А";}

.rect-cuta-out{
    position: absolute;
    top: 740px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.cuta-rect-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-per-name{
    position: absolute;
    top: 790px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-per-name::before{content: "Периметр";}

.rect-per-out{
    position: absolute;
    top: 820px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.per-rect-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-cutb-name{
    position: absolute;
    top: 865px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.rect-cutb-name::before{content: "Кут між В";}

.rect-cutb-out{
    position: absolute;
    top: 895px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.cutb-rect-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.triangle-task{
    margin: 40px auto;
    width: 1200px;
    height: 1000px;
    position: absolute;
    background: rgba(0,0,0,0);
    transition: all .3s ease;
}

.triangle-title{
    width: 714px;
    height: 327px;
    margin-top: 50px;
    margin-left: 80px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    background: rgba(0,0,0,0);

    color: #000000;
}

.triangle-title::before{content: "програма на знаходження площі, периметра, радуіса вписаного та описаного кола трикутника";}

.tr-sidea-name{
    position: absolute;
    top: 450px;
    left: 80px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.tr-sidea-name::before{content: "Сторона A";}

.tr-sidea-input{
    position: absolute;
    top: 480px;
    left: 450px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.tr-sideb-name{
    position: absolute;
    top: 510px;
    left: 80px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.tr-sideb-name::before{content: "Сторона B";}

.tr-sideb-input{
    position: absolute;
    top: 540px;
    left: 450px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.tr-sidec-name{
    position: absolute;
    top: 570px;
    left: 80px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.tr-sidec-name::before{content: "Сторона С";}

.tr-sidec-input{
    position: absolute;
    top: 600px;
    left: 450px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.tr-sidea-input-in, .tr-sideb-input-in, .tr-sidec-input-in{
    background: rgba(0,0,0,0);
    border: none;
    top: -20px;
    width: 100px;
    position: absolute;
    cursor: pointer;
    font-family: 'Nunito';
    font-style: normal;
}

.button-s-tr{
    position: absolute;
    width: 195px;
    height: 53px;
    left: 80px;
    top: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #D16464;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.button-s-tr-name{
    width: 121px;
    height: 25px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background: rgba(0,0,0,0);

    text-transform: uppercase;

    color: #FFFFFF;
}

.button-s-tr-name::before{content: "обрахувати";}

.tr-plos-name{
    position: absolute;
    top: 640px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.tr-plos-name::before{content: "Площа";}

.plos-tr-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.tr-plos-out{
    position: absolute;
    top: 670px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.tr-radin-name{
    position: absolute;
    top: 700px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.tr-radin-name::before{content: "Вписане коло";}

.tr-radin-out{
    position: absolute;
    top: 730px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.radin-tr-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.tr-per-name{
    position: absolute;
    top: 760px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.tr-per-name::before{content: "Периметр";}

.tr-per-out{
    position: absolute;
    top: 790px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.per-tr-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.tr-radout-name{
    position: absolute;
    top: 820px;
    /* left: 80px; */
    left: 800px;
    font-size: 30px;

    background: rgba(0,0,0,0);
    color: #000000;
    font-family: 'Nunito';
    font-style: normal;
}

.tr-radout-name::before{content: "Описане коло";}

.tr-radout-out{
    position: absolute;
    top: 850px;
    /* left: 250px; */
    left: 1000px;
    width: 100px;
    height: 2px;

    background: #000000;
}

.radout-tr-out{
    width: 100px;
    height: 20px;
    background: rgba(0,0,0,0);
    top: -20px;
    position: absolute;
    color: black;
    font-family: 'Nunito';
    font-style: normal;
}

.text-f, .text-s, .text-t, .text-fo{color: black}

.button-s-c:hover, .button-s-rect:hover, .button-s-sq:hover, .button-s-tr:hover{
    box-shadow: 0px 1.5px 3px 0.1px black;
}

.exit-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(https://www.iconpacks.net/icons/2/free-exit-icon-2860-thumb.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}